<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Blog</title>
	</head>
	<body>
		<h1>Usuario</h1>
		<p>Nombre: {{usuario.nombre}}</p>
		<p>Correo: {{usuario.email}}</p>
		
		<h2>Datos del usuario</h2>
		<p>Biografia: {{usuario.datosUsuario.biografia}}</p>
		<p>Fecha de creacion: {{usuario.datosUsuario.fecha_registro}}</p>
		
		<h2>Articulos del usuario</h2>
		{% for articulo in usuario.articulos %}
			<p>{{articulo.titulo}}</p>
		{% endfor %}
		<!-- {% for usuario in usuario %}
			<p>Nombre: {{usuario.nombre}}</p>
			<p>Correo: {{usuario.email}}</p>
			
			<h2>Datos del usuario</h2>
			<p>Biografia: {{usuario.datosUsuario.biografia}}</p>
			<p>Fecha de creacion: {{usuario.datosUsuario.fecha_registro}}</p>
			
			<h2>Articulos del usuario</h2>
			{% for articulo in usuario.articulos %}
				<p>{{articulo.titulo}}</p>
			{% endfor %}
		{% endfor %} -->
	</body>
</html>